{% extends 'base.html.twig' %}

{% block title %}1000 points!!!
{% endblock %}

{% block body %}

	<div class="img-anim">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center text-center h-100 ">
                <h1>Félicitations !</h1>
                <h2>Vous avez atteint les 1000 points, <br/>Vous avez gagné la charte de franchise de Montbéliard</h2>
            </div>
    </div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
        window.gameWin()
        })
	</script>

{% endblock %}
