{% extends 'base.html.twig' %}

{% block title %}1000 points!!!
{% endblock %}
{% block body %}
	<h1 class="office-banner">
		Félicitions ! Vous avez atteint les 1000 points
	</h1>

    <script>
    document.addEventListener('DOMContentLoaded', function(){
        window.gameWin()
    })
    </script>

{% endblock %}
