{% extends 'base.html.twig' %}

{% block title %}1000 points!!!
{% endblock %}

{% block body %}

	<div class="container-fluid">
        <h1 class="office-banner">
            Félicitations !
            <br/>
            Vous avez atteint les 1000 points
        </h1>
    </div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
        window.gameWin()
        })
	</script>

{% endblock %}
