th{
    a{
        text-decoration: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        span{
            margin-left: 5px;
        }
    }

}

main{
    margin-left: 17rem;
}
