{% extends 'base.html.twig' %}

{% block title %}1283, Montbéliard cité libre
{% endblock %}

{% block body %}

	<div class="container-fluid d-flex justify-content-center">
		<div class="parchment">
            <div class="parchment-body">
                <h1>1283, Montbéliard cité libre</h1>
                <h2>Au Xe siècle</h2>
                <h3>► Dans le royaume</h3>
                <p>
                    <strong>987 :</strong> Hugues Capet est couronné et sacré roi de France.
                    <br/><br/>
                </p>
                    <h3>►À Montbéliard</h3>
                <p>
                    <strong>985 :</strong> première mention certaine du château de Montbéliard dans un texte.
                    <br/><br/><br/>
                </p>
                <h2>Au XIIe siècle</h2>
                    <h3>► À Montbéliard</h3>
                    <p>
                    <strong>1125 :</strong> le comté de Montbéliard s’affirme comme une principauté indépendante sous le règne de Thierry II de Montbéliard.<br/>
                    <strong>Vers 1145-1154 :</strong> l’église du château de Montbéliard est reconstruite sous le vocable de Saint-Maimbœuf.<br/>
                    <strong>1163 :</strong> le petit-fils de Thierry II de Montbéliard, Amédée II, devient comte de Montbéliard. Cela marque l’avènement de la dynastie des Montfaucon, qui conserve le comté jusqu’en 1444.<br/><br/><br/>
                </p>
                    <h2>Au XIIIe siècle</h2>
                    <h3>► À Montbéliard</h3>
                    <p>
                        <strong>Vers 1250 :</strong> création de l’hôpital de Montbéliard et du bourg Saint-Martin, autour de l’église éponyme.<br/>
                        <strong>1282 :</strong> Thierry III de Montbéliard lègue le comté à son arrière petite-fille, épouse de Renaud de Chalon, lui-même petit-fils du comte Othon de Bourgogne.<br/>
                        <strong>1283 :</strong> Renaud de Bourgogne accorde une charte de franchises aux habitants de Montbéliard.<br/><br/>
                    </p>
                <hr/>
                <br/>
                    <p>
                        La croissance des villes aux XIIe et XIIIe siècles s’accompagne en effet d’un desserrement des
                        liens de la féodalité, illustré notamment par l’octroi de libertés aux habitants des villes de la part
                        du seigneur. Ce mouvement de franchises permet également l’affirmation du groupe social des
                        marchands et artisans, qui forment dès lors les bourgeois. L’admission dans la bourgeoisie est
                        possible moyennant le paiement d’un droit d’entrée et une résidence effective dans la ville
                        pendant six semaines par an.<br/><br/>
                        L'événement majeur durant cette période est la signature de la Charte de franchise de 1283 qui
                        va fixer le statut de la ville jusqu'en 1793. Le comte Renaud de Bourgogne donne l'autonomie à
                        Montbéliard en échange de 1 000 livres estevenantes (monnaie de Besançon) et du payement
                        de la toisé (impôt calculé par rapport à la largeur de la façade des habitations).
                        L'administration est dirigée par le Conseil des XVIII, composé de deux représentants élus par
                        guet (quartier). Ce Conseil des XVIII élit et assiste les neuf bourgeois qui sont les vrais maîtres
                        de la ville. Les notables sont les anciens membres de ces deux conseils. Tout ceci forme le
                        Magistrat (ou conseil de ville).
                    </p>
            </div>
        </div>
	</div>
        <div class="d-flex justify-content-center mb-4">
            <a href="{{ path('rule_index') }}" class="btn btn-one m-3">
                VOIR LES RÈGLES DU JEU
            </a>
            {% if is_granted('ROLE_USER') %}
                <a href="/game" class="btn btn-one m-3">
                    LANCER UNE PARTIE
                </a>
            {% endif %}
        </div>

{% endblock %}
