{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Créer une nouvelle question</h1>

    {{ include('admin/question/_form.html.twig') }}

<a class="btn btn-outline-primary" href="{{ path('admin_question_index') }}"><i class="bi bi-backspace"></i> retour à la liste</a>
{% endblock %}
