<footer class="mt-auto bg-light py-2">
    <div class="container d-flex flex-row justify-content-between align-items-center">
        <p class="col-md-4 mb-0 text-muted text-center">&copy; 2021 Company, Inc</p>
        <a href="#" class="col-md-4  text-center link-dark text-decoration-none">
        Crédits
        </a>
        <a href="/legal/notices" class="col-md-4 text-center  link-dark text-decoration-none">
        Mentions légales
        </a>
    </div>
</footer>
