<footer class="mt-auto">
    <div class="container d-flex flex-row justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted text-center border-end">&copy; 2021 Company, Inc</p>
        {# <div class="vr"></div> #}
        <a href="#" class="col-md-4  text-center link-dark text-decoration-none">
        Crédits
        </a>
        {# <div class="vr"></div> #}
        <a href="#" class="col-md-4 text-center  link-dark text-decoration-none border-start">
        Mentions légales
        </a>
    </div>
</footer>
