<header>
    <nav class="navbar navbar-light  fixed-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">1283, Montbéliard, cité libre</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">1283, Montbéliard, cité libre</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body bg-dark text-light">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active ps-5 mt-5 fs-5 text-light" aria-current="page" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-5 mt-5 fs-5 text-light" href="#">Règles du jeu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-5 mt-5 fs-5 text-light" href="#">Mes scores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-5 mt-5 fs-5 text-light" href="#">Classement</a>
                        </li>
                        <li class="nav-item">
                        {% if app.user %}
                        {{ app.user.email }}
                            <a class="nav-link ps-5 mt-5 fs-5 text-light" href="{{ path('app_logout') }}"> Se déconnecter</a>
                        {% else %}
                            <a class="nav-link ps-5 mt-5 fs-5 text-light" href="{{ path('login') }}"> Se connecter</a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

