<div id="myModal" class="card-parchment position-absolute z-1000 d-none">
	<div class="parchment-body">
		<h1>
			{% if question.question.content is defined %}
				{{ question.question.content }}
			{% endif %}
		</h1>
		<div class="text-center">
			<button id="btn-display-response" class="btn btn-one mt-3">Afficher la réponse</button>
			<div id="response" class="d-none mt-3">
				<p>Les rats ont été la principale cause des épidémies.<br/>Les rats ont été la principale cause des épidémies.</p>
				<div class="d-flex justify-content-center mt-5">
                <form action="{{ path('game_checking_answers') }}" method="post">
                    <button id="p" class="btn btn-one bg-white bg-opacity-75 me-5 w-25 close" name="verif" value="true">Bonne réponse</button>
                    <button class="btn btn-one bg-white bg-opacity-75 w-25 close" name="verif" value="false">Mauvaise réponse</button>
                </form>
				</div>
			</div>
		</div>
	</div>
</div>
