<label for="proposal "></label>
<input class="proposal col-12 col-sm-8" autocomplete="off" id="proposal" name="answer" type="text" placeholder="Ta réponse*">
<button class="btn ms-0 mb-md-0 btn-tertiary btn-block col-6 mt-5" type="submit" name="validate">VALIDER</button>
