{% extends 'base.html.twig' %}

{% block title %}Partie de jeu d'histoire
{% endblock %}
{% block body %}


	<div class="board mt-3 mb-3">
		<div class="bg-image"></div>
		<form action="/game/new" method="POST" name="form" id="form-duration" class="container-fluid d-flex flex-column justify-content-center align-items-center h-100">
			<label for="duration" class="fs-3 p-2 bg-white bg-opacity-75 mb-2 shadow-sm">
				Choisir une durée de partie en minute (max 60)
			</label>
			<input class="p-3 border-0 mt-3 shadow-sm text-center" type="number" id="duration" name="duration" min="0" max="60" value="45">
			<div class=" fs-5  m-5 text-center ">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="coop" checked>
					<label class="form-check-label fw-bold" for="flexRadioDefault1">Maître du Jeu
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="solo">
					<label class="form-check-label fw-bold" for="flexRadioDefault2">Partie Solo
					</label>
				</div>
			</div>
			<a href="{{ path('game_start')}}" class="btn btn-one mt-5 bg-primary bg-opacity-75 mb-2 shadow-sm">Lancer la partie</a>
		</form>


	</div>
{% endblock %}
