{% extends 'base.html.twig' %}

{% block title %}Partie de jeu d'histoire
{% endblock %}
{% block body %}
	<div class="board mt-3 mb-3">
		<div class="bg-image"></div>

		{{ form_start(form, {'attr': {'class': 'container-fluid d-flex flex-column justify-content-center align-items-center h-100 w-50 bg-white  bg-opacity-50'}}) }}
		{{ form_widget(form) }}

		<button type="submit" class="btn btn-one mt-5 bg-primary bg-opacity-75 mb-2 shadow-sm" value="Submit">Lancer la partie
		</button>

		{{ form_end(form) }}

	</div>
{% endblock %}
