{% extends 'base.html.twig' %}

{% block title %}Partie de jeu d'histoire
{% endblock %}
{% block body %}


	<div class="board ">
		<form action="/game/progress" method="POST" name="form" id="form-duration" class="container-fluid d-flex flex-column justify-content-center align-items-center h-75">
			<label for="duration" class="fs-3">Choisir une durée de partie en minute (max 60):</label>
			<input type="number" id="duration " name="duration" min="0" max="60" value="45">
			<div class=" fs-5  m-5 text-center ">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="coop" checked>
					<label class="form-check-label fw-bold" for="flexRadioDefault1">Partie Coop
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="solo">
					<label class="form-check-label fw-bold" for="flexRadioDefault2">Partie Solo
					</label>
				</div>
				<button class="btn btn-primary mt-5" type="submit" name="submit" value="Submit">Lancer la partie</button>
			</div>

		</form>


	</div>
{% endblock %}
