{% extends "layout.html.twig" %}

{% block content %}
    <div class="h-75 mt-5 d-flex flex-column justify-content-evenly align-items-center">
        {% if tracks|length > 0 %}
        <div class="boxContainer position-absolute">
            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            <div class="box box4"></div>
            <div class="box box5"></div>
        </div>
        {% endif %}
        <div class="display-answer container d-flex flex-row justify-content-center position-absolute w-100">
            <div class="col-6 text-center">
                <ul class="p-0">
                    <li class="list-unstyled mt-3">{{displayAnswer}}</li>
                </ul>
            </div>
        </div>

        {% for track in tracks|slice(0,1) %}
            <audio src="/uploads/tracks/{{track.path}}" class="audio" autoplay></audio>
        {% endfor %}

        <form action="" method="POST" name="form" id="form-quiz" class="container-fluid d-flex flex-column justify-content-evenly align-items-center h-100 mt-5">
            <h2 class="mt-5">Devine le titre du morceau :</h2>

			{% if session.level == 1 %}
				{% include "Quizz/_levelEasy.html.twig" %}
			{% else %}
				{% include "Quizz/_levelHard.html.twig" %}
			{% endif %}

			<button class="btn ms-0 mt-2 mb-md-0 btn-tertiary btn-block col-6" type="submit" name="pass">PASSER</button>

		</form>
		<a type="button" class="btn mt-5 btn-danger" href="/quizz/pass">FINISH</a>

	</div>
{% endblock %}
{% block javascript %}
    <script src="/assets/js/chrono.js"></script>
{% endblock %}
