.card-parchment {
    height: 90vh;
    width: 70%;
    left: 15%;
    position: relative;
    .parchment-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/assets/images/card_parchment.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .parchment-body {
        padding: 1rem;
        position: absolute;
        left: 11%;
        right: 11%;
        top: 26vh;
        overflow: auto;
        h1 {
            text-align: center;
            font-size: 3.5rem;
        }
        p {
            text-align: center;
        }
    }
    &.card-parchment--modal {
        position: fixed;
        height: 100vh;
        top: 0;
        &.card-parchment--modal-auto-show {
            visibility: hidden;
            animation: showModal 1.8s linear forwards;
        }
        &.card-parchment--modal-auto-show2 {
            visibility: hidden;
            animation: showModal 0.2s linear forwards;
        }
        &:before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(0 0 0 / 35%);
        }
    }
}

@keyframes showModal {
    0% {
        visibility: hidden;
    }
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    background-color: transparent;
    border: none;
}

.close-modal:hover {
    opacity: 1;
}

.close-modal:before, .close-modal:after {
    position: absolute;
    top: 3px;
    left: 19px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close-modal:before {
    transform: rotate(45deg);
}

.close-modal:after {
    transform: rotate(-45deg);
}

.body-bg {
    opacity: 0.5;
}



