.grey{
    filter: grayscale(100%);
}

.card-box{
    margin-bottom: 4rem;
    .img-title{
        height: 100%;
        width: 100%;
    }
    .cards-title{
        height: 50px;
        width: 90%;
        top: 2%;
        left: 5%;
        position: absolute;
        z-index: 100;
        p{
            line-height: initial;
        }
    }
    .card-img{
        margin-top: 2.1rem;
        height: 75%;
        width: 80%;
        .img-size{
            height: 100%;
            width: 100%;
        }
    }
    .card-content{
        position: absolute;
        top: 0;
        z-index: 100;
        height: 100%;
        width: 100%;
        p{
            line-height: 1.30;
        }
        .text-card{
            width: 85%;
            margin: auto;
        }
    }
}

.flip-card, .card-size {
    position: relative;
    height: 300px;
    width: 225px;
    perspective: 1000px; /* Supprimez cette option si vous ne voulez pas de l'effet 3D. */
}

/* Ce conteneur est nécessaire pour positionner les côtés avant et arrière. */
.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Effectuer un retournement horizontal lorsque vous passez la souris
 sur le conteneur de la boîte de retournement. */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Positionner le côté avant et arrière */
.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Coiffez l'arrière */
.flip-card-back {
    transform: rotateY(180deg);
}

