.card-parchment {
    background-image: url('/assets/images/card_parchment.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 110vh;
    width: 70%;
    position: relative;
    .parchment-body {
        padding: 1rem;
        position: absolute;
        left: 11%;
        right: 11%;
        top: 26vh;
        overflow: auto;
        h1 {
            text-align: center;
            font-size: 3.5rem;
        }
        p {
            text-align: center;
        }
    }
}

.body-bg {
    opacity: 0.5;
}
