table, th, td {
    border: 1px solid black;
  }

table{
    th,td{
        padding: 0 1rem 0 1rem;
    }
}

@media(max-width: 950px) and (orientation: landscape) {
    .classement-form{
        margin-top: 2rem;
    }
}

// pagination
.parchment{
    .parchment-body{
        .navigation{
            nav{
                ul{
                    li{
                       a{
                        height: 100%;
                        color: #DD7110;
                        text-decoration: none;
                        font-size: 1.2rem;
                       }
                    }
                }

            }
        }
    }
}

// title table
.parchment .parchment-body a {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: #bd5c07;
    span{
        margin: 12px 0 0 5px;
    }
}

.parchment .parchment-body a:hover {
    color: #ff7700;
    text-decoration: none;
}
