.collection-title{
    margin-top: 15rem;
}

.collection{
    height: 100vh;
    background-image: url('/assets/images/parchemin.png');
    background-size: 100% 100%;
    position: relative;
    .collection-content{
        height: 76%;
        width: 85%;
        position: absolute;
        top: 14%;
        left: 8%;
    }
}

@media(max-width: 950px) and (orientation: landscape) {
    .collection{
        .collection-content{
            top: 17.5%;
        }
    }
}
.btn-filter{
    max-width: 80%;
    background-color: transparent;
}

.filter-shadow {
    filter: $filter-shadow;
}
