.office-banner {
    padding: 0.125em;
    font-size: 3.5rem;
    text-align: center;
    white-space: nowrap;
    position: fixed;
    top: 40%;
    left: -5%;
    right: -5%;
    z-index: 100;
    margin-top: 0;
  }
