.board {
    height: 80vh;
    overflow: auto;
    position: relative;

    .bg-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0.5;
        background-image: url('/assets/images/plateau_vide.jpg');
        @include media-breakpoint-down(lg) {
            background-image: url('/assets/images/plateau_vide_phone.jpg');
        }
        background-repeat: no-repeat;
        background-size: cover;
    }
}


[class^="bloc"] {
    background-image: url('/assets/images/bloc.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.bloc-time {
    background-image: url('/assets/images/bloc_time.svg');
    color: $light;
}


.body-game {
    background-image: url('/assets/images/plateau_jeu.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
    background-size: 100% 100%;

    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    grid-template-rows: 25vh 50vh 25vh;
    @include media-breakpoint-down(lg) {
        grid-template-rows: 15vh 60vh 25vh;
    }
    grid-template-areas:
        "head head head"
        "left center right"
        "footer footer footer";

    .widget-top {
        grid-area: head;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
        margin: 0 100px;
        @include media-breakpoint-down(lg) {
            justify-content: start;
        }
    }

    .deck-left,
    .deck-right,
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .deck-left {
        grid-area: left;
    }

    .center {
        grid-area: center;
    }

    .deck-right {
        grid-area: right;
    }

    .dices {
        grid-area: footer;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        flex-wrap: wrap;
    }

    @include media-breakpoint-down(lg) {
        background-image: url('/assets/images/plateau_jeu_phone.jpg');
        position: relative;
    }

    p {
        font-family: 'Manuale', serif;
    }

    .left-img {
        height: 242px;
    }

    .show-allcard {
        display: none;
    }

    .btn-dice {
        height: fit-content;
    }


    @include media-breakpoint-up(lg) {
        .classeur {
            display: none !important;
        }

        .show-card {
            min-width: 130px;
            max-height: 45px;
            border-radius: 5px;
            transform: translateX(-50px);
            text-align: center;
            padding: 5px;
            transition: all 0.3s ease-in-out;
            background-color: $dark;
            color: $light;
            font-size: 0.8rem;
            font-family: 'Manuale';
            box-shadow: 1px 2px 3px 2px rgba(255, 255, 255, 0.38) inset;

        }

        .card-won {
            display: none;
        }

        .show-card:hover {
            transform: translateX(20px) scale(1.2);

            .card-won {
                display: inherit;
                height: 180px;
                box-shadow: -5px 12px 26px -5px rgba(0, 0, 0, 0.5);
            }
        }

        .btn-dice {
            grid-area: btn;
            height: fit-content;
        }

        .show-allcard {
            position: fixed;
            left: 0;
            top: 100px;
            grid-area: card;
            display: inline-block;
            width: 260px;
            .btn-classeur {
                line-height: 1;
                font-size: 1.5rem;
                transform: translateX(-50px);
                transition: all 0.3s ease-in-out;
            }

            h2 {
                margin-bottom: 5px;
                font-family: 'Manuale';
                color: $dark;
                text-decoration: underline $primary;
            }

            .btn-classeur:hover {
                margin-top: 5px;
                transform: translateX(20px) scale(1.2);
            }
        }

    }

}


.cardgame {
    height: 250px;
    width: 166px;
    margin: 1rem;
    border-radius: 10px;
    border: $dark 2px solid;
}

.question-card,
.question-card-selected {
    --question-card-size: 150px;
    background-image: url('/assets/images/dos_artisans.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    height: var(--question-card-size);
    width: var(--question-card-size);
    @include media-breakpoint-down(lg) {
        --question-card-size: 70px;
    }
}

.question-card-selected {
    animation: makeVisible 1.8s linear forwards;
}
@keyframes makeVisible {
    0% {
        opacity: 0.5;
    }
    99% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.widget {
    padding: .5rem;
    margin-left: 1rem;
    font-weight: 600;
    .widget-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        padding: 0.25rem 1.25rem;
        background-color: $primary;
        filter: drop-shadow(2px 2px 1px #666);
        overflow: hidden;
        &.widget-icon-timer {
            color: color-contrast($gray-600);
            font-weight: 500;
            .widget-icon-progress {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: $gray-600;
                z-index: -1;
                transition: width 1s linear;
            }
            .widget-badge {
                --widget-badge-size: 90px;
            }
        }
    }
    .widget-badge {
        --widget-badge-size: 75px;
        padding: .5rem;
        text-align: center;
        min-width: var(--widget-badge-size);
        @include media-breakpoint-down(lg) {
            --widget-badge-size: auto;
        }
    }
    .widget-text {
        margin-bottom: .5rem;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}
