body {
    padding-top: 5rem;
    font-size: 1rem;
}
h1, h2, h4, .title-secondary {
    font-family: 'Estonia', cursive;
}
h4 {
    color: $primary;
}

.title-primary {
    font-size: 4rem;
    color: $light;
}

.title-secondary {
    font-size: 2.5rem;
    color: $primary;
}

/* font-family: 'Manuale', serif; */


