<<<<<<< HEAD
.navbar {
    box-shadow: 0 -5px 20px rgb(186, 186, 186);
}

.link-navbar:hover{
=======
.link-navbar:hover {
>>>>>>> 661dd5f04d44b1f63c17072f73acb0046b2ff606
    color: $primary !important;
}

.navbar {
    box-shadow: 0 -5px 20px rgb(186, 186, 186);
    background-color: white;

    .blason {
        width: 50px;
    }
}
