@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Manuale:wght@500&display=swap');
@import "_variable";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "_global";
@import "_footer";
@import "_navbar";
@import "_card";
@import "_collection";
@import '_index';
@import '_parchment';
@import '_button';
@import "_game";
@import "_dice";
@import '_confettiparty';
@import '_cardparchment';
@import '_diceanimation';
