{% extends 'layout/main-center.html.twig' %}

{% block title %}Mentions légales et crédits
{% endblock %}

{% block main %}
	<div class="container-fluid d-flex justify-content-center">
		<div class="parchment">
			<div class="parchment-body">
                <h1>Conditions Générales d’Utilisation (CGU)</h1><br/>
                Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,  Jean-Bernard Marot, ci-après dénommé l’éditeur , met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.
                Toute connexion au site est subordonnée au respect des présentes conditions.
                Pour l’utilisateur, le simple accès au site de l’éditeur  à l’adresse URL suivante :<br/><a href="https://montbeliard-cite-libre.remote-fr-1.wilders.dev/" target="_blank">https://montbeliard-cite-libre.remote-fr-1.wilders.dev/</a>  implique l’acceptation de l’ensemble des conditions décrites ci-après.
                <h2>Les informations relatives aux données personnelles</h2>
                Pour jouer au jeu : 1283, Montbéliard, cité libre, l'utilisateur doit créer un compte et enregistrer son nom, son prénom, sa classe et choisir un pseudonyme. Ces informations, hors pseudonyme, ne seront pas diffusées et correspondent à la réglementation RGPD.
                L'éditeur se réserve le droit de supprimer tout compte dont les informations seront inexactes, ou ceux dont le pseudonyme sera considéré comme inadéquat.
                D'autre part, l'utilisateur s'engage à donner des informations exacts et à choisir un pseudonyme respectueux des autres et de la loi.<br/>
                <h2>Propriété intellectuelle</h2>
                Aucune reproduction, même partielle prévue à l’article L.122-5 du Code de la propriété intellectuelle, ne peut être faite de ce site sans l’autorisation du directeur de publication.<br/><br/>
                <h2>Responsabilité de l’éditeur</h2>
                Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.
                Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.
                L’éditeur se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.
                Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.
                Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.
                L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que l’éditeur puisse être recherché à ce titre, et sans recours contre ce dernier.
                L’ éditeur ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.<br/><br/>
                <h1>Droit applicable</h1>
                Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
                Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante : <a href="mailto:marot@rocketmail.com" target="_blank">marot@rocketmail.com</a>
            </div>
        </div>
	</div>
{% endblock %}
