{% extends 'base.html.twig' %}

{% block title %}Page des scores
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex justify-content-center">
		<div class="parchment">
			<div class="parchment-body">
                <h1>Page des scores</h1><br/>


            </div>
        </div>
	</div>
{% endblock %}
