<div class="" {{ attributes }}>
	<a class="mx-auto d-inline btn-dice btn btn-secondary my-5" href="#" data-action-name="setQuestion()" data-action="live#action">Lancez le dé</a>
</div>
<div class="mx-auto d-inline btn-dice my-5">
	{% include "include/_diceanimation.html.twig" %}
</div>
