<form method="post" action="{{ path('manage_users_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloirs supprimés cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Supprimer</button>
</form>
